{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/mystyle.css' %}">
</head>

<body>
    <nav>
        <ul>
            <a href="">
                <li class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="">
                </li>
            </a>
            <a href="{% url 'home:hom' %}">
                <li class="home">
                    HOME
                </li>
            </a>
            <a href="{% url 'home:abt' %}">
                <li>
                    ABOUT US
                </li>
            </a>
            <a href="{% url 'home:aca' %}">
                <li>
                    ACADEMIC
                </li>
            </a>
            <a href="{% url 'home:std' %}">
                <li>
                    STUDENTS INFO
                </li>
            </a>
            <a href="{% url 'home:con' %}">
                <li>
                    CONTACT
                </li>
            </a>
        </ul>
    </nav>
    <div class="dance">
        <h1 class="heading">Welcome to Kendriya Vidyalaya </h1>
        <p>KENDRIYA VIDYALAYA SANGHATAN was established in 1965 <br> under the noble patronage of noted academicians
            comprising</p>
        <a href="">
            <button class="read">
                Read More
            </button>
        </a>

    </div>
    
    <div class="fcit">
        <p id="head">OUR FACILITIES</p>
        <div class="spec"></div>
        <p class="staff">EXPERIENCED STAFF</p>
        <p class="content">We have well experienced and competent staff and <br> they are guiding and supporting our students in all <br> fields.</p>

        <p class="lib"> E - LIBRARY</p>
        <p class="conts">In addition to a collection of wide variety of books,<br> we provide a digital library facility for the benefit of <br>students and staff.</p>

        <p class="bus">SCHOOL BUS SERVICE</p>
        <p class="cont">We have buses plying all the major routes. The <br> majority of students avail school bus facility.</p>

        <p class="act">OTHER ACTIVITIES</p>
        <p class="con">We are giving importance to Co-curricular activities<br> like Basketball, Rollerskating, Chess, Keyboard,<br> Taekwondo, Dance & music, Yoga classes and <br>coaching is given by experienced staff.</p>

    </div>
    <div class="middle">
        <div class="child">Management <img src="https://bhavansschoolchevayur.org/images/profile-icon.png" alt="" class="img"></div>
        <div class="child">Academic <img src="https://bhavansschoolchevayur.org/images/academic-icon.png" alt="" class="aca"></div>
        <div class="child">Students <img src="https://bhavansschoolchevayur.org/images/student-icon.png" alt="" class="std"></div>
        <div class="child">Facility <img src="https://bhavansschoolchevayur.org/images/facility-icon.png" alt="" class="fct"></div>
        <div class="child">PTA <img src="https://bhavansschoolchevayur.org/images/pta-icon.png" alt="" class="pta"></div>


    </div>
    <div class="col-sm-6 backg"></div>
    <div class="col-sm-6">
        <h1>PRINCIPAL'S MESSAGE</h1>
        <p class="abts">It is a great pleasure for me to welcome you to the Website of KENDRIYA VIDYALAYA SANGHATAN.<br> Ours is a green, eco-friendly campus, situated on a hill top, away from the turmoil of city life.<br>Our founder, laid great emphasis on promotion of Indian culture & heritage.</p>
        <p class="abts">We are committed to the cause of character building, personality development and promotion of values<br> through Value based education. Our aim is to produce not only good students but also good citizens.</p>
        <button class="rea">
            READ MORE

        </button>

    </div>
    <div class="mgm">
        <h1 class="covid">REFLEXIONS CovidReflex - 2022</h1>
        <img src="https://bhavansschoolchevayur.org/magazine/1.png" alt="" class="ref">
        <button class="dwd">
            DOWNLOAD MAGAZINE
        </button>
    </div>
    <div class="footer">
        <div class="one">HELPFUL LINK<br><br>
          <li>www.cbse.nic.in</li>
          <li>www.ncert.nic.in</li>
          <li>www.cbseacademic.nic.in</li>
        </div>
        <div class="one">NAVIGATION<br><br>
        <li>About</li>
        <li>Academic</li>
        <li>Student Info</li>
        <li>Contact</li>
        </div>
        <div class="one">CONTACT<br><br>
        <li>Kendriya Vidyalaya No.1 New Building<br>Kozhikode,Kerala<br>Email id : kendriyavidyalaya@gmail.com<br>Phone No : 0496 264588</li></div>
    </div>

</body>

</html>