{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/mystyle.css' %}">
</head>
<body>
    <nav>
        <ul>
            <a href="">
                <li class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="">
                </li>
            </a>
            <a href="{% url 'home:hom' %}">
                <li class="home">
                    HOME
                </li>
            </a>
            <a href="{% url 'home:abt' %}">
                <li>
                    ABOUT US
                </li>
            </a>
            <a href="{% url 'home:aca' %}">
                <li>
                    ACADEMIC
                </li>
            </a>
            <a href="{% url 'home:std' %}">
                <li>
                    STUDENTS INFO
                </li>
            </a>
            <a href="{% url 'home:con' %}">
                <li>
                    CONTACT
                </li>
            </a>
        </ul>
    </nav>
    <div class="col-lg-12 academic">
        STUDENTS INFO
    </div>
    <table class="tabs">
        <tr>
            <td>Class</td>
            <td>Section</td>
            <td>Boys</td>
            <td>Girls</td>
            <td>Total</td>
        </tr>
        <tr>
            <td>I-V</td>
            <td>04</td>
            <td>67</td>
            <td>57</td>
            <td>124</td>
        </tr>
        <tr>
            <td>VI-X</td>
            <td>04</td>
            <td>67</td>
            <td>57</td>
            <td>124</td>
        </tr>
        <tr>
            <td>XI-XII</td>
            <td>04</td>
            <td>67</td>
            <td>57</td>
            <td>124</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>49</td>
            <td>960</td>
            <td>782</td>
            <td>1742</td>
        </tr>
        
    </table>
    <div class="footer">
        <div class="one">HELPFUL LINK<br><br>
          <li>www.cbse.nic.in</li>
          <li>www.ncert.nic.in</li>
          <li>www.cbseacademic.nic.in</li>
        </div>
        <div class="one">NAVIGATION<br><br>
        <li>About</li>
        <li>Academic</li>
        <li>Student Info</li>
        <li>Contact</li>
        </div>
        <div class="one">CONTACT<br><br>
        <li>Kendriya Vidyalaya No.1 New Building<br>Kozhikode,Kerala<br>Email id : kendriyavidyalaya@gmail.com<br>Phone No : 0496 264588</li></div>
    </div>

</body>
</html>